html, body {
  font-family: "Alfa Slab One", serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #12100D !important; /* Cor de fundo */
  background: #12100D;
}
h1 {
  color: #e62610 !important;
}

nav {
  background-color: #e62610 !important;
}
header .navbar {
  background-color: #e62610;
}

header .navbar .nav-link {
  font-weight: bold;
  color: white !important;
}

header .navbar .nav-link.active {
  color: #12100D !important;
}

header .navbar .nav-link:hover {
  color: #12100D !important;
  text-decoration: underline;
}

/* Banner */
section img {
  max-height: 400px;
  object-fit: cover;
}

/* Cards de filmes */
#moviesContainer .card {
  transition: transform 0.3s ease-in-out;
}

#moviesContainer .card:hover {
  transform: scale(1.05);
}

#moviesContainer .card img {
  max-height: 300px;
  object-fit: cover;
}

.card-body .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body .card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Mostra apenas 3 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


body {
  font-family: 'Alfa Slab One', sans-serif;
  background-color: #f0f0f0; /* Cor de fundo para contraste */
  height: 100vh; /* Altura total da tela */
  margin: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 60px;
}
.form-box {
  background-color: #ffffff;
  width: 600px;
  height: auto;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin-bottom: 7em;
}
.form-container h1 {
  margin-bottom: 5rem;
}

.banner-image {
  height: 300px; /* Altura fixa para os banners */
  object-fit: cover; /* Ajusta a imagem para cobrir a área sem distorcer */
  object-position: center; /* Centraliza a imagem dentro do espaço */
  width: 100vw;
  padding: 0px 90px ;
  border-radius: 20px;
}

#logo {
  width: 200px;
  height: 200px;
}