html, body {
  font-family: "Alfa Slab One", serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #12100D !important; /* Cor de fundo */
  background: #12100D;
}


h1 {
  color: #e62610 !important;
}

nav {
  background-color: #e62610 !important;
}
header .navbar {
  background-color: #e62610;
}

header .navbar .nav-link {
  font-weight: bold;
  color: white !important;
}

header .navbar .nav-link.active {
  color: #12100D !important;
}

header .navbar .nav-link:hover {
  color: #12100D !important;
  text-decoration: underline;
}

/* Banner */
section img {
  max-height: 400px;
  object-fit: cover;
}

/* Cards de filmes */
#moviesContainer .card {
  transition: transform 0.3s ease-in-out;
}

#moviesContainer .card:hover {
  transform: scale(1.05);
}

#moviesContainer .card img {
  max-height: 300px;
  object-fit: cover;
}

.card-body .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body .card-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Mostra apenas 3 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
